.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
   
    width: 40%;
    height: auto;
    margin-bottom: 20px;

   
}

/* Kopstijlen */
h1,
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}


/* Stijl voor blokquotes */
blockquote {
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #0088ef;
    margin-bottom: 20px;
}

/* Footerstijlen */
footer{
    margin: 5px auto;
}

/* Responsieve stijlen */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

/* Algemene stijl voor de pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #0050ff;
    /* Achtergrondkleur */
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Grid container */
.wrapper {
    display: flex;
    flex-direction: column;
    /* Flexbox lay-out wordt nu een kolomlay-out */
    align-items: stretch;
    /* Alle items worden gecentreerd */

}

/* Stijl voor elk grid-item */
.flex {
    background-color: #ffc000;
    /* Achtergrondkleur van de grid-items (Curio-blauw) */
    color: #000000;
    /* Tekstkleur */
    padding: 20px;
    border-radius: 5px;
    margin: 5px;
}

.flex img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.large-flex{
    display: flex;
    justify-content: center;
}

.large-flex h1{
    display: inline-block;
    width: 100%;
}

.large-flex p{
    display: inline-block;
    width: 100%;    
}

.large-grid {
    grid-column: span 2;
    align-items: center;
}
.opening{
    display: flex;
    flex-direction: column;
}

/* Footer-stijl */
.footer {
    background-color: #ffc000;
    /* Achtergrondkleur van de footer (Curio-blauw) */
    color: #000000;
    /* Tekstkleur in de footer */
    text-align: center;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
}
.vak {
    height: 120px;
    background-color: white;
    margin: 0;
    border-radius: 15px;
}
.vak-head{
    background-color: orange; /* Achtergrondkleur van de kaart */
    margin: 0;
}
.vak-head p {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.vak-body {
    background-color: white; 
}
.blok
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
 
}
.blok p {
    width: 75%;
}
/* Stijl voor het Curio-logo in de footer */
.logo-text {
    font-size: 1.5rem;
    margin: 0;
}

/* Contactgegevens in de footer */
.contact {
    margin-top: 10px;
}

.contact span {
    display: block;
    margin-bottom: 5px;
}

/* Stijl voor pictogrammen in de footer (FontAwesome) */
.fas {
    margin-right: 5px;
}